set default="0"
set timeout_style=menu
set timeout=-1

if [ "$grub_platform" == "efi" ]; then
	function load_video {
		insmod efi_gop
		insmod efi_uga
		insmod video_bochs
		insmod video_cirrus
		insmod all_video
	}
else
	function load_video {
		insmod all_video
	}
fi

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

terminal_input console
terminal_output console

search --no-floppy --set=root -l 'BUTRELINUX'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install butrelinux-hwe' --class fedora --class gnu-linux --class gnu --class os {
    linux ($root)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=BUTRELINUX quiet inst.ks=hd:LABEL=BUTRELINUX:/hwe.cfg
    initrd ($root)/images/pxeboot/initrd.img
}
menuentry 'Install butrelinux-nvidia' --class fedora --class gnu-linux --class gnu --class os {
    linux ($root)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=BUTRELINUX quiet inst.ks=hd:LABEL=BUTRELINUX:/nvidia.cfg
    initrd ($root)/images/pxeboot/initrd.img
}
menuentry 'Install butrelinux-lts' --class fedora --class gnu-linux --class gnu --class os {
    linux ($root)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=BUTRELINUX quiet inst.ks=hd:LABEL=BUTRELINUX:/lts.cfg
    initrd ($root)/images/pxeboot/initrd.img
}
menuentry 'Install butrelinux legacy image' --class fedora --class gnu-linux --class gnu --class os {
    linux ($root)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=BUTRELINUX quiet inst.ks=hd:LABEL=BUTRELINUX:/legacy.cfg
    initrd ($root)/images/pxeboot/initrd.img
}