function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain

### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'BUTRELINUX'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install butrelinux-hwe' --class fedora --class gnu-linux --class gnu --class os {
    linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=BUTRELINUX quiet inst.ks=hd:LABEL=BUTRELINUX:/hwe.cfg
    initrd /images/pxeboot/initrd.img
}
menuentry 'Install butrelinux-nvidia' --class fedora --class gnu-linux --class gnu --class os {
    linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=BUTRELINUX quiet inst.ks=hd:LABEL=BUTRELINUX:/nvidia.cfg
    initrd /images/pxeboot/initrd.img
}